<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.berlizz.mapper.ListMapper">

	<select id="listAll" resultType="ListVO">
		select * 
		from tbl_list
		where listNumber > 0
	</select>
	
	<select id="listSelect" resultType="ListVO">
		select listNumber, title, writer, description, regTimestamp, regDate
		from tbl_list
		where regDate = #{regDate} and completed = 0
		order by regTimestamp desc
	</select>
	
	<insert id="createList">
		insert into tbl_list(title, writer, description, regDate)
		values (#{title}, #{writer}, #{description}, #{regDate})
	</insert>
	
	<update id="updateList">
		update tbl_list
		set title = #{title}, description = #{description}
		where listNumber = #{listNumber}
	</update>
	
	<delete id="deleteList">
		delete
		from tbl_list
		where listNumber = #{listNumber}
	</delete>
	
	<select id="listSelectOne" resultType="ListVO">
		select listNumber, title, writer, description, regTimestamp, completedTimestamp
		from tbl_list
		where listNumber = #{listNumber}
	</select>
	
	<select id="uncompletedSelect" resultType="ListVO">
		<![CDATA[
			select listNumber, title, writer, description, regTimestamp, regDate
			from tbl_list
			where regDate < curdate() and completed = 0
			order by regTimestamp desc
		]]>
	</select>
	
	<select id="completedSelect" resultType="listVO">
		<![CDATA[
			select listNumber, title, writer, description, regTimestamp, completedTimestamp
			from tbl_list
			where completedTimestamp > curdate() and completed = 1
			order by regTimestamp desc
		]]>
	</select>
	
	<update id="completionUpdate">
		update tbl_list
		set completed = 1, completedTimestamp = now()
		where listNumber = #{listNumber}
	</update>

</mapper>